<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6 top-title">
			<h1>
				Welcome To Bookers
				<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
			</h1>
			<p>
				書籍は青年には食物となり、老人には娯楽となる。<br>病める時は装飾となり、苦しい時には慰めともなる。<br>内にあっては楽しみとなり、外に出ても邪魔にならない。<br>特に夜と旅行と田舎においては、良い伴侶となるだろう。
		    </p>
		    <div class="top-b">
		    	<p>-キケロ（紀元前106～紀元前43)-</p>
		    </div>
		</div>
		<div class="col-lg-3">
		</div>
	</div>
</div>