<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6 top-title">
			<h1>
				Welcome To Bookers
				<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
			</h1>
			<p>
				読書は、論争のためではなく、そのまま信じ込むためでもなく、<br>講演の話題探しでもない。それは、熟考のためのものなのだ。
		    </p>
		    <div class="top-b">
		    	<p>ー Francis Bacon (1561〜1626) ー</p>
		    </div>
		</div>
		<div class="col-lg-3">
		</div>
	</div>
	<div class="row top-bottom">
		<div class="col-lg-5"></div>
		<div class="col-lg-2">
			<%= link_to "LogIn", new_user_session_path, :class =>"btn btn-success btn-block" %>
			<%= link_to "SignUp", new_user_registration_path, :class =>"btn btn-primary btn-block" %>
		</div>
		<div class="col-lg-5"></div>
	</div>
</div>