/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	padding-top: 50px;
}
.clearfix::after{
	content: "";
	display:block;
	clear:both;
}
.header-list{
	list-style: none;
}
.header-list li{
	float:left;
	padding-right: 30px;
}
/*ヘッダー*/
.nav-title{
	color: #64C777;
	float:left;
	padding: 15px 15px;
	font-size: 32px;
	height: 50px;
	line-height: 0.5;
}
#top-btn{
	cursor: pointer;
}
/* フッター */
footer{
	text-align:center;
}

/*サイドバー*/
.a{
	width:100%;
}
.user-icon{
	display: block;
	margin: 0 auto;
	border-radius: 10%;
}
.sidebar-title{
	width: auto;
	text-align: center;
	padding-bottom: 20px;
}
.sidebar-user-info{
	font-weight: 400;
	font-size: 16px;
	width: 200px;
}
.newpost label{
	display: inline-block;
	width: 100%;
}
#setting{
	height: 32px;
}
/*インデックス*/
.post-title,.post-opinion{
	line-height: 3;
	display:inline;
}
.main-title{
	color: #0B610B;
}

td{
	word-break: break-all;
}
/*ユーザーエディット*/
.user-edit{
	text-align: center;
}
.user-edit h5{
	text-align: left;
	padding-top: 20px;
}
.edit-btn{
	margin-top: 20px;
}
/*トップ*/
.top-title{
	text-align: center;
	padding-bottom: 50px;
}
.top-title h1{
	font-size: 60px;
	margin-bottom: 50px;
	color: #0B5A1B;
}
.top-title p{
	font-size: 18px;
}
.top-bottom{
	margin-bottom: 100px;
}
.top-b{
	text-align: right;
}
.top-b p{
	margin-right: 50px;
}
/*サインアップ*/
.field{
	margin-bottom: 30px;
}




